.icon {
    fill: currentColor;
    height: 1em;
    vertical-align: middle;
    position: relative;
    top: -0.075em;
}

/*hier habe ich den Standardstyle für meine Icons definiert*/
/*vertical-align:; wird verwendet um inline, inline-block und table cell elemente zu positionieren*/

